.parent,
.children,
.initial {
  border: 2px solid black;
  padding: 6px 16px;
  border-radius: 3px;
  text-align: center;
  background-color: #ffff00;
  font-size: 14px;
  font-weight: 500;
  min-height: 37px;
  width: fit-content;
  min-width: 100px;
  cursor: grab;
 
  input {
    border: none;
    outline: none;
    font-size: 14px;
    line-height: 22px;
    background-color: transparent;
    text-align: center;

    &::placeholder {
      font-size: 14px;
      line-height: 22px;
    }
  }
}

.initial {
  background: none;
  border: none;
}

.children {
  background-color: #ffe59a;
}

.sidebar {
  min-width: 200px;
  max-width: 200px;
  border-right: 1px solid #e2e8f0;
  padding: 16px;
  position: absolute;
}


.title {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 10px;
}

.titleInput {
  width: 60%;
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 16px;
  margin-bottom: 20px;
  height: 40px !important;
}

.positions {
  margin-bottom: 15px;

  .posTitles {
    font-size: 15px;
    margin-bottom: 5px;
  }
}
