@import "./table.scss";
@import "./dnd.scss";

html {
  font-size: 0.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif !important;
  // text-decoration: none;
}

.css-wtf6ne {
  background-color: #fff !important;
}

.rc-table .rc-table-head.rc-table-hide-scrollbar::-webkit-scrollbar {
  width: 20px !important;
}

.reactQuill {
  margin-bottom: 20px;
}

.reactQuill .ql-container.ql-snow{
  height: 90px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  border: 1px solid #e7ecf2;
}

.ql-editor:focus{
  border: 2px solid #4262ff;
  border-radius: 4px;
}

.reactQuill .ql-toolbar.ql-snow{
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border: 1px solid #e7ecf2;
}

// .css-ky7590{
//   width: 200px !important;
//   position: absolute !important;
//   z-index: 919191919 !important;
//   background-color: red !important
// }